{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": []
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
        //      ,{
        //          "mode": true,
        //         "removeImport":true,
        //         "ignoreFilenames": ["node_modules"]
        //       }
      ]
    }
  },
  "plugins": [
    "styled-jsx/babel",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
